body {
    font-family: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
}
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
}

/* The popup form - hidden by default */
.form-popup {
    width: 40%;
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}
.form_add_user{
    width: 70%;
}

/* Add styles to the form container */
.form-container {
    padding: 10px;
    background-color: white;
}